:root {
    --primer: #0dcaf0;
    --second: #68D2E8;
}

.bg-primer {
    background-color: var(--primer);
}

.bg-second {
    background-color: var(--second);
}

.nav-link {
  position: relative;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}


.nav-link:hover {
  color: #ffc107;
  border-bottom: 2px solid #ffc107;
}

#nominal,
#nama_pengirim,
#email_pengirim,
#pesan_pengirim {
  border: none;
  border-bottom: 2px solid black;
}

.metodePembayaran:hover {
  cursor: pointer;
}

.disabled-span {
  pointer-events: none;
  opacity: 0.6;
}
.page {
  cursor: pointer;
}

#judulPage {
  float: right;
}

#btnCopyIDTransaksi {
  cursor: pointer;
}

.logo {
    width: 40px;
    height: 40px;
}
